## Menu
record(mbbo, "$(P)$(R)$(PROP)") {
  field(PINI, "YES")
  field(DTYP, "asynInt32")
  field(OUT,  "@asyn($(PORT) 0)$(PN)")
}

record(mbbi, "$(P)$(R)$(PROP)_RBV") {
  field(SCAN, "I/O Intr")
  field(DTYP, "asynInt32")
  field(INP,  "@asyn($(PORT) 0)$(PN)")
}

