## Float
record(ao, "$(P)$(R)$(PROP)") {
  field(PINI, "$(PINI=YES)")
  field(DTYP, "asynFloat64")
  field(OUT,  "@asyn($(PORT) 0)$(PN)")
  field(PREC, "$(PREC=3)")
  field(VAL, "$(VAL=0)")
  info(asyn:READBACK, "$(READBACK=0)")
}

record(ai, "$(P)$(R)$(PROP)_RBV") {
  field(DTYP, "asynFloat64")
  field(INP,  "@asyn($(PORT) 0)$(PN)")
  field(PREC, "$(PREC=3)")
  field(SCAN, "I/O Intr")
}

include "spinnakerFloatMinMax.template"
