## Enable
record(bo, "$(P)$(R)$(PROP)Enable") {
  field(PINI, "YES")
  field(DTYP, "asynInt32")
  field(OUT,  "@asyn($(PORT) $(PN))SP_PROP_ENABLE")
  field(ZNAM, "Disable")
  field(ONAM, "Enable")
}

record(bi, "$(P)$(R)$(PROP)Enable_RBV") {
  field(SCAN, "I/O Intr")
  field(DTYP, "asynInt32")
  field(INP,  "@asyn($(PORT) $(PN))SP_PROP_ENABLE")
  field(ZNAM, "Disable")
  field(ONAM, "Enable")
}

