## Auto
record(mbbo, "$(P)$(R)$(PROPERTY)Auto") {
  field(PINI, "YES")
  field(DTYP, "asynInt32")
  field(OUT,  "@asyn($(PORT) 0)$(USER_INFO)")
}

record(mbbi, "$(P)$(R)$(PROPERTY)Auto_RBV") {
  field(SCAN, "I/O Intr")
  field(DTYP, "asynInt32")
  field(INP,  "@asyn($(PORT) 0)$(USER_INFO)_AUTO")
}
