## Auto
record(mbbo, "$(P)$(R)$(PROP)Auto") {
  field(PINI, "YES")
  field(DTYP, "asynInt32")
  field(OUT,  "@asyn($(PORT) $(PN))SP_PROP_AUTO")
}

record(mbbi, "$(P)$(R)$(PROP)Auto_RBV") {
  field(SCAN, "I/O Intr")
  field(DTYP, "asynInt32")
  field(INP,  "@asyn($(PORT) $(PN))SP_PROP_AUTO")
}
